    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }
    
    .container {
        max-width: 1120px;
        margin: 0 auto;
    }
    
    header {
        text-align: center;
        display: flex;
        align-items: center;
        /* border: 2px solid blue;*/
        justify-content: space-between;
        padding: 20px;
    }
    
    header span,
    footer span {
        color: mediumaquamarine;
    }
    
    header h1 {
        font-size: 42px;
    }
    
    main {
        /* min-height: 85vh; */
        display: flex;
    }
    
    .menu {
        /* width: 20%; */
        padding: 15px;
        text-align: center;
        color: #231F20;
        border: 2px dotted mediumaquamarine;
        margin-right: 1px;
    }
    
    .main-content {
        /* width: 80%; */
        flex: 1;
        border: 2px dotted mediumaquamarine;
    }
    
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer-logo {
        font-size: 24px;
    }
    
    .footer-copyright {
        font-size: 11px;
        font-style: italic;
    }
    
    li {
        list-style: none;
        cursor: pointer;
        text-align: left;
        padding-left: 10px;
        padding-right: 30px;
        background-color: mediumaquamarine;
    }
    
    .category {
        background-color: mediumturquoise;
        border: 1px solid gray;
        margin-top: 5px;
    }
    
    .subcategory {
        /* margin-left: 10px; */
        border: 1px solid gray;
        border-top: 0px;
    }
    /* footer img,
footer p {
    margin: 0 auto;
} */
    
    input[type=text] {
        padding: 6px;
        border: 1px solid mediumturquoise;
        border-radius: 15px;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 24px;
    }
    
    button {
        outline: none;
        background-color: white;
        border: 0px;
        cursor: pointer;
    }
    
    .products {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        padding: 10px;
    }
    
    h2 {
        text-align: center;
        margin: 30px auto;
    }
    
    .product {
        width: calc(25% - 3px);
        border: 2px solid mediumturquoise;
        padding-top: 150px;
        text-align: center;
        margin: 1px;
    }